#main-menu {
    float: left;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px var(--gray-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    grid-area: menu;
}

.menu aside {
    display: none;
    color: black;
    background-color: black;
}

#main-menu>ul>li {
    float: left;
    margin: 10px 0;
    font-size: 20px;

}

#main-menu>ul>li>a {
    color: white;
    padding: 10px 20px;
    border-right: solid 1px var(--gray-color);

}

#main-menu>ul>li>a:hover {
    background-color: var(--primary-color-dark);
}

#main-menu>ul>li>ul {
    display: none;
    position: absolute;
    margin-top: 10px;
}

#main-menu>ul>li>ul>li>a {
    display: block;
    color: white;
    background-color: var(--secondary-color);
    padding: 15px;
    font-size: 18px;
    border-top: solid 1px var(--gray-color);
}

#main-menu p {
    font-size: 50px;
    color: white;
    display: none;
}

#main-menu>ul>li>ul>li>a:hover {

    background-color: var(--secondary-color-dark);
}

#main-menu>ul>li:hover>ul {
    display: block;
    box-shadow: 2px 2px 5px var(--gray-color);
}

@media (max-width:700px) {

    #main-menu>ul>li {
        width: 100%;
        margin: 0;
        border-bottom: solid 1px var(--gray-color);
        text-align: center;
    }

    #main-menu>ul>li>a {
        display: block;
    }

    #main-menu>ul>li>ul {
        width: 100%;
    }

    #main-menu>ul>li>ul>li {
        text-align: center;
    }

    #main-menu:hover>p {
        display: block;
    }


}