main section {
    display: flex;
    flex-direction: col;
    box-shadow: 1px 2px 2px var(--gray-color);
    line-height: 1em;

    align-content: center;

}

main section h4 {
    color: var(--primary-color-dark);
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
}

main section div img {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}

main section div {
    width: 250px;
    margin: 0;
}

@media(max-width:700px) {

        main section div{
            width: 100px;
            margin-top: 25px;
            padding-top: 0;
        }
        main section div img{
            padding-top: 0;
        }
        main section h4{
            font-size: 0.9em; 
        }
}