.Secciones {
    grid-area: Noticia;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 2px var(--gray-color);
}

.Secciones > h3{
    color: var(--primary-color-dark);
}

#SeccionNoticias{
    color: var(--primary-color);
}

#SeccionComunidad{
    color: var(--primary-color-dark);
}

#SeccionNiños{
    color: var(--secondary-color);
}

#SeccionJovenes{
    color: var(--secondary-color-dark);
}

#SeccionContactanos{
    color: var(--srimary-color);
}